.btn {
  background-color: #BA55D3;
  border-color: #BA55D3;
  border-radius: 8px;
  margin: 3px;
  color: #fefefe;
  width: fit-content;
  transition: .2s transform;
  box-shadow: 0 5px 10px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #CA7EDD;
  transform: translateY(-2px);
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.52), 0 4px 25px 0px rgba(0, 0, 0, 0.18), 0 8px 10px -5px rgba(0, 0, 0, 0.25);
  color: white !important;
  border-color: transparent !important;
}

.btn_basic { 
  background-color: transparent;
  border: 1px solid #D392E3;
  color: #D392E3;
  border-radius: 8px;
  margin: 3px;
  box-shadow: 0 4px 8px -12px rgba(0, 0, 0, 0.42), 0 4px 10px 0px rgba(0, 0, 0, 0.12);

}

.btn_basic:hover {
  background-color: #D392E3;
  transition: .2s transform;
  transform: translateY(-2px);
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  color: #fff !important;
  border-color: transparent !important;
}